
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/static.css" rel="stylesheet">
    <script src="static/animation.js" defer></script>
    <title>WORDL</title>
</head>
<body>
    <header id="header">
        <div id="menu">
            <div class="menu-btn">
            </div>
        </div>
        <h2>Wordl</h2>
        <div class="stuff"></div>
    </header>

    <aside id="sidebar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('wordl') }}">Wordl</a>
    </aside> 

    <div id="container">
        {% block content %} 
        {% endblock %}
    </div>

    


    
    


</body>
</html>